<br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <h1 class="text-center font-weight-bold pt-5">profile成功</h1>
        <%= form_for current_user, url: {action: 'update'} do |f| %>
         <div class="field pt-3">
           <%= f.label :name %><br />
           <%= f.text_field :name, :placeholder => " Yuri", class: "col-md-12 form-control" %>
         </div>

         <div class="field pt-3">
           <%= f.label :cl_image %><br/>
           <%= f.file_field :cl_image, class: "col-md-12" %>
         </div>

         <div class="field pt-3">
           <%= f.label :comment %><br />
           <%= f.text_area :comment,:placeholder => " Hello! Nice to meet you. I have lived in Japan all the time, so I know many reasonable restaurants.", autofocus: true, class: "col-md-12" %>
         </div>

         <label> <%=f.radio_button :visiter,1%>visitor</label>
         <label><%=f.radio_button :visiter,2%>japanese</label>



         <div class="actions pt-3">
          <%= f.submit "Update", class: "btn btn-primary" %>
         </div>
      <% end %>
      <div class="pt-3">
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
  </div>
