<section class="mypages_show">
  <br><br><br><br><br>
  <div class="block">
      <div class="block-image">
          <img src=<%= current_user.cl_image %> class = "icon_image">
      </div>
      <div class="block-text">
        <%= button_to "プロフィール編集", edit_user_path, {method: :get} %>
      </div>
      <h3>follow</h3>

      <% if @follows.exists? %>
      <strong id="following" class="stat">
        <%= link_to(@follows.count, following_user_path) %>
      </strong>
      <% end %>
      <h3>follower</h3>
      <strong id="following" class="stat">
        <% if @followers.exists? %>
        <%= link_to(@followers.count, followers_user_path) %>
        <% end %>
      </strong>
      </div>

  <div class="container">
    <div class="item"><h3><%= current_user.name %></h3><br>
      <% if current_user.visiter  ==1%>
      <h3>visitor</h3>
    <% else %>
      <h3>japanese</h3>
    <% end %><br>
      <h3><%= current_user.comment %></h3></div>

    <div class="tab_wrap">
    	<input id="tab1" type="radio" name="tab_btn" checked>
    	<input id="tab2" type="radio" name="tab_btn">

    	<div class="tab_area">
        <%if current_user.visiter ==2%>
    		<label class="tab1_label" for="tab1">投稿一覧</label>
        <% end %>

    		<label class="tab2_label" for="tab2">いいね</label>
    	</div>
    	<div class="panel_area">
    		<div id="panel1" class="tab_panel">
          <% @restaurants.each do |t|%>
          <%= link_to("/restaurants/#{t.id}") do %>
          <%= image_tag  t.cl_image_url,width:400,class: "card-figure" %>
          <% end %>
          <% end %>

    		</div>
    		<div id="panel2" class="tab_panel">
        <% current_user.liked_restaurants.each do |t| %>
        <%= link_to("/restaurants/#{t.id}") do %>
        <%= image_tag  t.cl_image_url,class: "card-figure" %>
          <% end %>
          <% end %>
    		</div>
    	</div>
    </div>

  </div>
</section>
