<section class="restaurants_index">
<!--   First block Start   -->
<section id="first-block">
<br><br><br><br><br><br><br><br><br><br>
<div class="title-container">
  <h1>Restaurant Matching</h1>
  <h3>~ Visitor × Japanese ~</h3>
</div>
</section>
<!--   First block End   -->

<section id="second-block">
<%= page_entries_info @restaurants %><%= link_to 'エクスポート', restaurants_path(format: :csv), class: 'btn btn-primary mb-5'%>
<br><br><br>
<div id="cardlayout-wrap"><!-- カードレイアウトをラッピング -->
  <% @restaurants.each do |r|  %>
    <section class="card-list">
        <a class="card-link">
          <%= link_to("/restaurants/#{r.id}") do %>
            <%= image_tag  r.cl_image_url,width:300,class: "card-figure" %>
          <% end %>
            <h2 class="card-title"><%= r.name%></h2>
            <h2 class="card-text-tax"><%=r.comment%></h2>
            <h3 class="card-text-tax">@<%=r.address%></h3>
        </a>
    </section>
  <% end %>
</div>


<br>
  <%= paginate @restaurants %>

<br>
</section>
</section>
