<br><br><br><br><br><br>
<div id="card"><!-- カードレイアウトをラッピング -->
    <section class="one-card">
            <figure class="card-figure"><img src=<%= @restaurant.cl_image %>></figure>
            <h2 class="title"><%= @restaurant.name%></h2>
            <p class="card-tax">
              <%= @restaurant.user.name%><br>
              <%=@restaurant.comment%><br>
              @<%=@restaurant.address%><br>
              <%= timechange(@restaurant.opening) %>~<%= timechange(@restaurant.closing) %></p>
              <% if current_user== nil %>
                <%= link_to("/users/sign_in") do %>
                  <span class="fa fa-heart like-btn"></span>
                <% end %>

              <% elsif current_user.likes.find_by(restaurant_id: @restaurant.id) %>
                <%= link_to("/likes/#{@restaurant.id}",{method: "delete"}) do %>
                  <span class="fa fa-heart like-btn-unlike"></span>
                <% end %>
              <% else %>
                <%= link_to({controller: "likes", action: "create", restaurant_id: @restaurant.id},  method: :post) do %>
                  <span class="fa fa-heart like-btn"></span>
                <% end %>
              <% end %>
              <%= @restaurant.likes.count %>

              <script type="text/javascript">
                  function initMap() {

                      var test = {lat: <%= @latitude %>, lng: <%= @longitude %>};
                      var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 15,
                          center: test
                      });
                      var transitLayer = new google.maps.TransitLayer();
                      transitLayer.setMap(map);

                      var contentString = '住所：<%= @address %>';
                      var infowindow = new google.maps.InfoWindow({
                          content: contentString
                      });

                      var marker = new google.maps.Marker({
                          position:test,
                          map: map,
                          title: contentString
                      });

                      marker.addListener('click', function() {
                          infowindow.open(map, marker);
                      });
                  }
              </script>
              <script async defer
                      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyABhOf72JR0lR82jwurQkivJhgySaBdyKQ&callback=initMap">
              </script>

              <p id="notice"><%= notice %></p>
              <style type="text/css">
                #map { height: 400px;
                  margin-left:auto;
                  margin-right:auto;
                  text-align:left;
                  width: 80%;}
              </style>
              <div id="map"></div>
            </div>

                          <% if user_signed_in?%>

                          <% if @restaurant.user_id == current_user.id %>
                           <%= link_to "編集", edit_restaurant_path(@restaurant.id) %>
                           <%= link_to "削除", restaurant_path(@restaurant.id), method: :delete %>
                          <% end %>
                          <%else%>
                          <%end%>

    </section>
</div>
